@import "../../../styles/scss/variables";
.Search {
  width: 100%; 
  height: 60px;
  z-index: 90;
}

.Input_SP {
    input {
        border-radius: 30px;
        height: 60px;
        visibility: hidden;
    }
    input ~ span {
      border-radius: 30px !important;
      height: 60px;
      button {
        height: 60px !important;
        border-radius: 30px 30px 30px 30px !important;
      }  
    }
}

.Input_SPActive {
    input {
        border-radius: 30px;
        height: 60px;
        visibility: visible;
    }
    input ~ span {
      border-radius: 0 30px 30px 0 !important;
      height: 60px;
      button {
        height: 60px !important;
        border-radius: 0 30px 30px 0 !important;
      }  
    }
}



.SearchMobileActive {
  width: calc(100% - 20px) !important;
}
@media screen and (max-width: $break-point-ls) {
  .SearchMobile {
    width: 60px; 
    height: 60px;
    z-index: 90;
    transition: width ease 500ms;

  }
}