@import '../../styles/scss//variables';

.HomePage {
    background-image: url(/assets/images/landing_background_pc.svg);
    height: calc(100vh - 62px);
    background-size: cover;
    background-position: center;
    width: 100%;
    & > img {
        position: absolute;
        max-width: 100px;
        top: 10px;
        left: 10px;
    }
    .Language {
        display: flex;
        position: absolute;
        right: 10px;
        top: 10px;
        
        :first-child {
            margin-right: 10px;
        }
        img {
            height: 36px;
            box-sizing: border-box;
            &.active {     
                border: 2px solid $secondary_color;
                border-radius: 5px;
            }
        }

    }
    .container {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 50px;
        height: 100%;
        .title {
            width: 50%;
            display: flex;
            align-items: center;
            flex-direction: column;
            justify-content: center;
            padding: 20px;
            h1 {
                font-weight: bold;
                font-size: 60px;
                text-align: center;
                line-height: 70px;
                color: $secondary_color;
            }
            ._logo{
                width: 100%;
                max-width: 300px;
            }
            .snsButtonGroup {
                margin-top: 20px;
            }
        }
        .banner {
            height: 100%;
           img {
            max-width: 100%;
            max-height: 100%;
           }
        }
    }
}

@media screen and (max-width: $break-point-ls) {
    .HomePage {
        .container {
            flex-direction: column-reverse;
            padding: 50px 50px 20px 50px;
            .title {
                width: 100%;
                padding: 6% 0 0 0;
                height: 100%;
                justify-content: flex-start;
                h1 {
                    font-size: 3em;
                    line-height: 1em;
                    color: $primary_color_;
                }
            }
        }
    }
}
