@import "../../../styles/scss/variables";

.Header {
    height: 62px;
    background-color: #0c5179;
    display: flex;
    justify-content: space-between;
    border: 1px solid #f0f0f0;
    padding: 0 10px 0 10px;
    z-index: 9999;
    & p {
        margin: 0;
        font-size: 14px;
    }
    .logo {
        width: 100px;
        display: flex;
        align-items: center;
        justify-content: center;
        order: 1;
        ._logo{
            width: 100%;
            max-width: 300px;
        }
    }
    .menu {
        display: flex;
        align-items: center;
        justify-content: center;
        order: 2;
        .menu_item {
            padding: 0 20px;
            transition: 0.4s;
            & p {
                font-size: 16px;
                line-height: 18px;
                color: #ffffff;
            }
            &.menu_active {
                & p {
                    font-weight: bold;
                    color: $primary_color;
                }
            }
            &:hover {
                background-color: $primary_color_400;
                padding: 22px 20px;
            }
        }
        .menu_button {
            display: none;
            font-size: 24px;
            color: $primary_color;
            font-weight: bold;
        }
    }
    .actions {
        display: flex;
        align-items: center;
        justify-content: center;
        order: 3;
        .group {
            position: absolute;
            right: 10px;
            top: 50%;
            transform: translateY(-50%);
            .icon {
                display: none;
                & > span {
                    background-color: $primary_color;
                }
            }
        }
        
    }
}

.drawerTitle {
    width: 100%;
    & img {
        width: 100%;
        max-width: 100px;
    }
}
.drawerItem {
    padding: 20px 10px 20px 30px;
    & p {
        margin: 0;
        font-weight: bold;
        color: #0c5179;
    }
    &.drawerActive {
        
        & p {
            color: #ffffff;
        }
        background-color: $primary_color;
    }
}

@media screen and (max-width: $break-point-ls) {
    .Header {
        .logo {
            order: 2;
        }
        .menu {
            order: 1;
            .menu_item {
                display: none;
            }
            .menu_button {
                display: block;
            }
        }
        .actions {
            order: 3;
            .group {
                .button {
                    display: none;
                }
                .icon {
                    display: block;
                }
            }
        }
    }
}