$primary_color: #EA5B2A;
$primary_color_400: #f06d41;
$primary_color_200: #ec7e59;

$primary_color_: #009688;
$primary_color_200_: #80CBC4;
$primary_color_600: #00897B;
$primary_color_400_: #26A69A;

$secondary_color: #FFD700;
$secondary_color_400: #fae25c;
$secondary_color_200: #fcf0ac;

$green_color: #009688;
$green_color_400: #26A69A;
$green_color_200: #80CBC4;


// $secondary_color_400: #f06d41;
$background_color_1: #FFFFFF;
$background_color_2: #E4F2FE;
$error_color: #E53935;
$text_color: #525252;
$supplement_color: #4FC3F7;
$third_color: #0c5179;
$break-point-vs: 320px;
$break-point-md: 960px;
$break-point-ls: 1024px;
$title_image: 1140px;
